h1,h2,h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

body {
    background-color: lightblue;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  p {
  
  margin-right: 200px;
  margin-left: 200px;
}

html {
    border: solid;
    border-width: 100px;
    border-color: slategrey;
}